body {
    background: url(wa5image.jpg) no-repeat left top; 
    max-width: 100%;
    }

.brand {
    background-color: rgba(0,0,0,1);
    font-family: 'Helvetica neue', Arial, 'sans serif';
    margin: 4em;
    padding: 3em;
    color: white;
    background-image: url(Hell\ is\ the\ Sun\ White.png);
}

.brand h1 {
    font-size: 30px;
    text-shadow: 5px 5px 3px black;
}

.brand p {
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
}

.box-a {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    max-width: 40em;
    background-color: aquamarine;
    padding: 3em;
    margin: 4em;
    }