body {
    background: url(wa5image.jpg) no-repeat left top; 
    max-width: 100%;
    }

.brand {
    background-color: rgba(0,0,0,1);
    font-family: 'Helvetica neue', Arial, 'sans serif';
    margin: 4em;
    padding: 3em;
    color: white
}

.brand h1 {
    font-size: 3em;
}

.brand p {
    font-size: 2em;
}

.box-a {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 1em;
    max-width: 40em;
    background-color: aquamarine;
    padding: 3em;
    margin: 4em;
    }