body {
    background: url(wa5image.jpg) no-repeat center; 
    height: 100%;
    background-size: cover;
    }

.brand {
    position: relative bottom;
    background-color: rgba(0,0,0,1);
    background-image: url(hellisthesun.jpg) no-repeat center;
    font-family: 'Helvetica neue', Arial, 'sans serif';
    margin: 4em;
    padding: 3em;
    color: white;
}

.brand h2 {
    font-size: 30px;
    text-shadow: 5px 5px 3px black;
}

.brand p {
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
}

.brand a {
    color: white;
}

.box-a {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    max-width: 40em;
    color: white;
    text-shadow: 1px 1px 0px black;
    background-color: rgba(127, 255, 212, 0.2);
    padding: 3em;
    margin: 4em;
}

.box-a .jazz {
    border: solid black 1px;
    padding: 1em;
}